*, *:before, *:after {
  box-sizing: border-box;
}

.noselect {
  user-select: none;
}

.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mb-3 { margin-bottom: 3px; }

h1, h2, h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  background-color: #004072;
}

.container {
  margin: 10px 10px 0;
}

.two-col {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;;

  .col {
    flex: 1;
  }

  .col-1 {
    margin-bottom: 10px;
  }
}


.heroes-area {
  padding: 5px 10px 0;
  overflow: auto;
  border: 2px solid transparent;

  &-selected {
    border-color: #82dd50;
    max-height: 140px;
  }

  &-selecting {
    border-color: #46e1ff;
    max-height: 195px;
  }
}


.hero {
  border: 1px solid #437aa0;
  margin: 0 0 4px;
  padding: 3px 6px;
  width: 100%;
  display: flex;
  cursor: pointer;

  > div {
    flex: 1;
  }
  &-price {
    text-align: right;
    flex: 0 !important;
  }
}

.active-team-buff {
  border: 2px solid #fc44ff;
  padding: 5px 10px;
  max-height: 270px;
}

.quality {
  &-1 {
    color: white;
  }
  &-2 {
    color: #13ffff;
  }
  &-3 {
    color: #ff7afb;
  }
  &-4 {
    color: #ffcb0e;
  }
  &-5 {
    color: #ff7600;
  }
}

.buff {
  margin: 0 0 25px;
}

.selected-heroes-buff {
  line-height: 1.6;
}


@media only screen and (min-width: 1000px) {
  body {
    font-size: 14px;
  }
  
  .container {
    margin: 10px 10px 0;
  }
  
  .two-col {
    flex-direction: row;
  
    .col {
      flex: 1;
    }
  
    .col-1 {
      margin-right: 20px;
    }
  }
  
  
  .heroes-area {
  
    &-selected {
      height: 310px;
      max-height: unset;
    }
  
    &-selecting {
      max-height: 310px;
    }
  }
  
  
  .hero {
    margin: 0 0 8px;
    padding: 4px 10px;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  
  .active-team-buff {
    margin-right: 20px;
  }

  .all-buff-list {
    margin-left: 20px;
  }
}
