*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mb-3 {
  margin-bottom: 3px; }

h1, h2, h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500; }

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  background-color: #004072; }

.container {
  margin: 10px 10px 0; }

.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 10px; }
  .two-col .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .two-col .col-1 {
    margin-bottom: 10px; }

.heroes-area {
  padding: 5px 10px 0;
  overflow: auto;
  border: 2px solid transparent; }
  .heroes-area-selected {
    border-color: #82dd50;
    max-height: 140px; }
  .heroes-area-selecting {
    border-color: #46e1ff;
    max-height: 195px; }

.hero {
  border: 1px solid #437aa0;
  margin: 0 0 4px;
  padding: 3px 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .hero > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .hero-price {
    text-align: right;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 !important;
    flex: 0 !important; }

.active-team-buff {
  border: 2px solid #fc44ff;
  padding: 5px 10px;
  max-height: 270px; }

.quality-1 {
  color: white; }

.quality-2 {
  color: #13ffff; }

.quality-3 {
  color: #ff7afb; }

.quality-4 {
  color: #ffcb0e; }

.quality-5 {
  color: #ff7600; }

.buff {
  margin: 0 0 25px; }

.selected-heroes-buff {
  line-height: 1.6; }

@media only screen and (min-width: 1000px) {
  body {
    font-size: 14px; }
  .container {
    margin: 10px 10px 0; }
  .two-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .two-col .col {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .two-col .col-1 {
      margin-right: 20px; }
  .heroes-area-selected {
    height: 310px;
    max-height: unset; }
  .heroes-area-selecting {
    max-height: 310px; }
  .hero {
    margin: 0 0 8px;
    padding: 4px 10px; }
    .hero:hover {
      background-color: rgba(0, 0, 0, 0.3); }
  .active-team-buff {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 20px;
    margin-right: 0px !important; }
  .all-buff-list {
    margin-right: 20px; } }
